@import 'style';

.cad-med{
    border: 1px solid lightgray;
    height: 500px;
    margin: 20px;
}


.info{
    text-align: center;
    &-item{
        width: 150px;
        &--icon{
            margin-right: 10px;
        }
    }
}

.medico{
    margin-top: 5%;
    border: 1px solid lightgrey;
    padding: 20px;
    margin-bottom: 5%;
}

.nav-container{
    margin-top: 0;
}