//variaveis
$cl-bk: black;
$cl-white: white;

.search{
    border-radius: 50px;
    margin-top: 20%;
    width: 400px;
    &-item{
        margin-left: 80%;
        position: absolute;
        margin-top: -25px;
    }
}

.nav-container{
    margin-top: 30px;
    height: 50px;
    &-item{
        padding-left: 30px;
        line-height: 1.8;
    }
}

.img-carousel{
    width: 100%;
    height: 600px;
}

.nav-header{
    margin-bottom: 25px;
}
.caption{
    color: $cl-bk;
    &-item{
        font-size: 20px;
        color: $cl-bk;
    }
}
.med{
    margin-top: 50px;
    margin-bottom: 50px;
    &-item{
        text-align: center;
    }
}
.card{
    height: 380px;
}
.jumbo-rod{
    margin-top: 20px;
}

.jumbo{
    text-align: center;
    &-item{
        color: $cl-white;
        margin-bottom: 10px;
        &--siga{
            line-height: 3;
            color: $cl-white;
        }
    }
}

.face{
    color: darkblue;
}
.twit{
    margin-left: 20px;
    margin-right: 20px;
}
.nav-rod{
    color: $cl-white;
}
.nav-menu{
    margin: 20px;
}
.menu{
    color: $cl-white;
}
.fa-icon{
    padding-right: 10px;
}